.services {
  width: 100%;
  padding: 60px 0px;
  background-color: #f4f4f4;
}

/* Heading Section */
.heading {
  margin-bottom: 40px;
  margin-left: 7.5%;
}

/* Main Services Container */
.main_services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 85%;
  margin: auto;
}

/* Services Image Section */
.image {
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  text-align: center;
}

.image_img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
/* Stats Section */
.stats {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 500px;
  max-width: 500px;
}

/* Row Container */
.row_1,
.row_2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* width: 40%; */
  gap: 20px;
}

.row_1 {
  width: 100%;
}

.row_2 {
  width: 100%;
}

/* Stats Block */
.block {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
  flex: 1;
  min-width: 150px;
  max-width: 150px;
  /* max-width: 200px; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Icon Images */
.image_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  padding-right: 5px;
}

/* Stats Text */
.icon_h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 900;
}

.icon_p {
  font-size: 1rem;
  color: #666;
}

/* Responsive Design */
@media screen and (max-width: 1250px) {
  .image {
    flex: 1;
    min-width: 400px;
    max-width: 400px;
    text-align: center;
  }
  /* .main_services {
    flex-direction: column;
    align-items: center;
  } */

  .stats {
    /* flex: none; */
    min-width: 400px;
    max-width: 400px;
  }

  .image_icon {
    width: 40px;
    height: 40px;
  }

  .block {
    min-width: 120px;
    max-width: 120px;
  }

  .icon_h2 {
    font-size: 16px;
  }

  .icon_p {
    font-size: 14px;
  }

  /* .row_1,
  .row_2 {
    flex-direction: column;
    align-items: center;
  } */

  /* .block {
    width: 100%;
  } */
}

@media screen and (max-width: 770px) {
  .main_services {
    flex-direction: column;
    align-items: center;
  }

  /* .stats {
    flex: none;
    width: 100%;
  } */

  .row_1,
  .row_2 {
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .row_1,
  .row_2 {
    gap: 5px;
  }

  .stats {
    /* flex: none; */
    min-width: 300px;
    max-width: 300px;
  }

  .block {
    min-width: 75px;
    max-width: 75px;
  }

  .image {
    min-width: 300px;
    max-width: 300px;
  }
}

/* Keyframes for Animation */
@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation Classes */
.animate-slide-from-bottom {
  animation: slideInFromBottom 3.0s ease-out forwards;
}

.animate-slide-from-left {
  animation: slideInFromLeft 3.0s ease-out forwards;
}

/* Initially Hidden */
.hidden {
  opacity: 0;
}

/* @property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_1 {
  from {
    --num: 0;
  }
  to {
    --num: 300;
  }
}

.count_1 {
  animation: countUp_1 2s linear forwards;
  counter-set: num var(--num);
}

.count_1::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_2 {
  from {
    --num: 0;
  }
  to {
    --num: 6;
  }
}

.count_2 {
  animation: countUp_2 2s linear forwards;
  counter-set: num var(--num);
}

.count_2::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_3 {
  from {
    --num: 0;
  }
  to {
    --num: 50;
  }
}

.count_3 {
  animation: countUp_3 2s linear forwards;
  counter-set: num var(--num);
}

.count_3::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_4 {
  from {
    --num: 0;
  }
  to {
    --num: 2;
  }
}

.count_4 {
  animation: countUp_4 2s linear forwards;
  counter-set: num var(--num);
}

.count_4::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_5 {
  from {
    --num: 0;
  }
  to {
    --num: 20;
  }
}

.count_5 {
  animation: countUp_5 2s linear forwards;
  counter-set: num var(--num);
}

.count_5::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp_6 {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}

.count_6 {
  animation: countUp_6 2s linear forwards;
  counter-set: num var(--num);
}

.count_6::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes countUp {
  from {
    --num: 0;
  }
  to {
    --num: 300;
  }
}

.count_1 {
  animation: countUp 5s linear forwards;
  counter-set: num var(--num);
}

.count_1::after {
  content: counter(num);
} */