.my_works {
  /* background-color: #330708; */
}

.container {
  padding: 50px 0px;
}

.row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.logo_div {
  width: 240px;
  height: 200px;
  background-color: #330708;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

.logo_div:hover {
  background-color: #330708b8;
}

.logo {
  width: 50%; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add space between logo and h2 */
}

.h2 {
  color: #ffffff;
  margin: 0; /* Remove default margin */
}
